.weatherLocationCont{
    width: 500px;
padding:15px;
font-family: 'Roboto',sans-serif;
-webkit-box-shadow: 11px 13px 11px 0px rgba(31,34,87,0.64);
-moz-box-shadow: 11px 13px 11px 0px rgba(31,34,87,0.64);
box-shadow: 11px 13px 11px 0px rgba(31,34,87,0.64);
margin: 20px;
background-color: rgb(158, 235, 231);
}


.LocationCont{
    width: 100%;
    height: 35px;
text-align: left;
line-height: 30px;
color:#888}

.LocationCont h1{
    margin: 0;
}