.weatherDataCont{
width: 500px;
height: 100px;
line-height: 100px;
background: rgb(200, 200, 200,0.5);
border-radius: 10px;
margin-top: 15px;
}

.WeatherTemperatureCont{
    width: 60%;
    display: inline-block;    
    
}

.temperature{
font-size: 35px;
font-weight: bold;
padding-left: 20px;
color: #444;
}

.wicon{
color: orangered;
}

.WeatherExtraInfo{
    width: 40%;
    display: inline-block;
    line-height: 25px;
    text-align: left;
}

.extraInfoText{
    display: block;
    color: rgb(40, 92, 141);
    font-size: 18px;
    font-weight: bold;
}